<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site com ferramentas para desenvolvedores">
    <meta name="author" content="Leandro Adrian da Silva">
    <meta name="theme-color" content="#777BB3">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Ferramentas para Devs</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="loader-container" v-if="loading">
                <div class="loader"></div>
            </div>

            <div :class="['toast', toast ? `${toast.type}-toast active` : '']">
                <div class="toast-banner"></div>
                <div class="toast-content text">
                    <div class="toast-icon"><i
                            :class="['fa-solid', toast && toast.type == 'error' ? 'fa-xmark' : 'fa-check']"></i></div>
                    <div>
                        <p class="toast-title">{{ toast && toast.type == 'error' ? 'Erro' : 'Sucesso' }}</p>
                        <p class="toast-text"> {{ toast && toast.text }}</p>
                    </div>
                    <button class="btn-close" @click="closeToast" title="Fechar mensagem"><i
                            class="fa-solid fa-times"></i></button>
                </div>
            </div>

            <aside>
                <div class="fixed">
                    <div class="header-top">
                        <button class="btn-primary" @click="toggleMenu" title="Abrir/fechar menu" v-if="isMobile">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <router-link to="/" title="Ir para a página inicial">
                            <img src="./assets/img/logo.svg" alt="Laptop com três engrenagem na tela" width="32"
                                height="32">
                        </router-link>
                        <div class="header-top-buttons">
                            <router-link class="btn-primary" to="/topic-form" v-if="user"
                                title="Ir para o formulário de tópicos"><i class="fa-solid fa-plus"></i></router-link>
                            <router-link class="btn-success" to="/profile" v-if="user"
                                title="Acessar perfil de administrador"><i class="fa-solid fa-user"></i></router-link>
                            <button class="btn-danger" @click="logoutUser" v-if="user"
                                title="Sair do modo administrador"><i class="fa-solid fa-sign-out"></i></button>
                            <router-link class="btn-primary" to="/login" v-if="!user"
                                title="Entrar no modo administrador"><i class="fa-solid fa-sign-in"></i></router-link>
                        </div>
                    </div>
                    <nav id="navigation" v-if="mobileMenuOpen || !isMobile">
                        <router-link class="link" to="/" title="Ir para a página inicial"><i
                                class="fa-solid fa-house"></i> Início</router-link>
                        <router-link class="link" v-for="topic in topics" :key="topic.id" :to="'/topic/' + topic.id"
                            title="Ir para o tópico"><i class="fa-solid fa-fire"></i> {{ topic.title }}</router-link>
                    </nav>
                </div>
            </aside>
            <main>
                <router-view></router-view>
            </main>
        </div>
    </div>

    <template id="s_inicio">
        <div class="padding-container">
            <section>
                <figure class="home-image">
                    <img src="./assets/img/einstein.webp" alt="Albert Einstein utilizando um computador - IA" />
                    <figcaption>Imagem gerada por inteligência artificial</figcaption>
                </figure>
                <div class="home-content">
                    <h2 class="text-display">
                        Olá, usuário! Bem-vindo ao site de ferramentas para desenvolvedores.<br>
                        Aqui você encontrará diversos materiais e links úteis para estudos e desenvolvimento de
                        projetos.
                    </h2>
                </div>

                <a href="https://lezzin.github.io" target="_blank" class="author-link link">
                    <i class="fab fa-github"></i> Criado por Leandro Adrian da Silva
                </a>
            </section>
        </div>
    </template>
    <template id="s_login">
        <form @submit.prevent="loginUser" class="form">
            <div class="header-top form_header">
                <h2 class="title">Entrar como administrador</h2>
            </div>

            <div class="form_body">
                <p class="box-text" :class="formMessage ? `${formMessage.type}-text` : ''" v-if="formMessage">
                    {{ formMessage.text }}
                </p>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" v-model="email" autocomplete="off"
                        :class="{ 'error-input': emailError }" placeholder="seuemail@email.com">
                    <p class="error-text" v-if="emailError">{{ emailError }}</p>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" v-model="password" autocomplete="off"
                        :class="{ 'error-input': passwordError }" placeholder="******" minlength="6">
                    <p class="error-text" v-if="passwordError">{{ passwordError }}</p>
                </div>
                <button class="btn-primary" title="Entrar como administrador">Entrar</button>
            </div>
        </form>
    </template>
    <template id="s_profile">
        <form onsubmit="return false" class="form">
            <div class="header-top form_header">
                <h2 class="title">Seu perfil de usuário</h2>
            </div>
            <div class="form_body">
                <p class="box-text success-text" v-if="formMessage">{{ formMessage }}</p>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" v-model="email" autocomplete="off"
                        :class="{ 'error-input': emailError }" placeholder="E-mail">
                    <p class="error-text" v-if="emailError">{{ emailError }}</p>
                </div>
                <button class="btn-primary" @click="updatePassword" title="Alterar senha">Alterar senha</button>
            </div>
        </form>
    </template>
    <template id="s_topic">
        <section>
            <div class="topic_header header-top" v-if="title">
                <h2 class="title">{{ title }}</h2>

                <div class="header-top-buttons">
                    <button class="btn-primary" @click="openEditTopic(id)" v-if="userIsCreator" title="Editar tópico"><i
                            class="fa-solid fa-edit"></i></button>
                    <button class="btn-danger" v-if="userIsCreator" @click="deleteTopic(id)" title="Remover tópico"><i
                            class="fa-solid fa-trash"></i></button>
                    <router-link class="btn-primary" v-if="userIsCreator" :to="`/topic/${id}/content-form`"><i
                            class="fa-solid fa-plus"></i></router-link>
                </div>
            </div>
            <div class="topic padding-container">
                <div v-if="contentsEmpty" class="topic-empty-image">
                    <img src="./assets/img/content_empty_lg.webp" alt="ícone de caixa vazia" width="900" height="454"
                        class="lg">
                    <img src="./assets/img/content_empty_sm.webp" alt="ícone de caixa vazia" width="568" height="454"
                        class="sm">
                </div>
                <div v-else class="topic-not-empty">
                    <div class="table-responsive">
                        <table class="contents">
                            <thead>
                                <tr>
                                    <th>Website</th>
                                    <th>Descrição</th>
                                    <th v-if="user">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="content" v-for="(content, index) in contents" :key="content.id">
                                    <td><a :href="content.link" target="_blank" rel="noopener noreferrer"
                                            class="content-link link" title="Acessar site">{{ content.title }}</a></td>
                                    <td>
                                        <p class="content-description">{{ content.description }}</p>
                                    </td>
                                    <td v-if="user">
                                        <div class="content-actions">
                                            <button class="btn-primary" @click="openEditContent(content.id)"
                                                v-if="user && user.uid == content.created_by" title="Editar conteúdo"><i
                                                    class="fa-solid fa-edit"></i></button>
                                            <button class="btn-danger" v-if="user && user.uid == content.created_by"
                                                @click="deleteContent(content.id)" title="Remover conteúdo"><i
                                                    class="fa-solid fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a href="https://lezzin.github.io" target="_blank" class="author-link link">
                        <i class="fab fa-github"></i> Criado por Leandro Adrian da Silva
                    </a>
                </div>
            </div>
        </section>
    </template>
    <template id="s_form_topic">
        <form @submit.prevent="addTopic" class="form">
            <div class="header-top form_header">
                <h2 class="title">Adicionar Tópico</h2>
                <a class="btn-outline-primary" href="javascript:history.back()" title="Voltar para a página anterior"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </div>

            <div class="form_body">
                <div class="input-group">
                    <label for="topic-title">Título</label>
                    <input type="text" id="topic-title" v-model="topicTitle" autocomplete="off"
                        :class="{ 'error-input': titleError }" placeholder="Estudos, materiais...">
                    <p class="error-text" v-if="titleError">{{ titleError }}</p>
                </div>
                <button class="btn-primary" title="Adicionar tópico">Adicionar</button>
            </div>
        </form>
    </template>
    <template id="s_edit_content">
        <form @submit.prevent="editContent" class="form">
            <div class="header-top form_header">
                <h2 class="title">Editar Conteúdo</h2>
                <a class="btn-outline-primary" href="javascript:history.back()" title="Voltar para a página anterior"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </div>

            <div class="form_body">
                <div class="input-group">
                    <label for="content-title">Título</label>
                    <input type="text" id="content-title" v-model="contentTitle" autocomplete="off"
                        :class="{ 'error-input': contentTitleError }" placeholder="Título do site/material">
                    <p class="error-text" v-if="contentTitleError">{{ contentTitleError }}</p>
                </div>
                <div class="input-group">
                    <label for="content-link">Link</label>
                    <input type="text" id="content-link" v-model="contentLink" autocomplete="off"
                        :class="{ 'error-input': contentLinkError }" placeholder="https://www.site.com">
                    <p class="error-text" v-if="contentLinkError">{{ contentLinkError }}</p>
                </div>
                <div class="input-group">
                    <label for="content-description">Descrição</label>
                    <input type="text" id="content-description" v-model="contentDescription" autocomplete="off"
                        :class="{ 'error-input': contentDescriptionError }" placeholder="Descrição do site/material">
                    <p class="error-text" v-if="contentDescriptionError">{{ contentDescriptionError }}</p>
                </div>
                <button class="btn-primary" title="Editar conteúdo">Editar</button>
            </div>
        </form>
    </template>
    <template id="s_add_content">
        <div class="padding-container">
            <form @submit.prevent="addContent" class="form">
                <div class="header-top form_header">
                    <h2 class="title">Adicionar conteúdo</h2>
                    <a class="btn-outline-primary" href="javascript:history.back()"
                        title="Voltar para a página anterior"><i class="fa-solid fa-arrow-left"></i></a>
                </div>

                <div class="form_body">
                    <p class="error-text" v-if="topicError">{{ topicError }}</p>

                    <div class="input-group">
                        <label for="content-title">Título</label>
                        <input type="text" id="content-title" v-model="contentTitle" autocomplete="off"
                            :class="{ 'error-input': contentTitleError }" placeholder="Título do site/material">
                        <p class="error-text" v-if="contentTitleError">{{ contentTitleError }}</p>
                    </div>
                    <div class="input-group">
                        <label for="content-link">Link</label>
                        <input type="text" id="content-link" v-model="contentLink" autocomplete="off"
                            :class="{ 'error-input': contentLinkError }" placeholder="https://www.site.com">
                        <p class="error-text" v-if="contentLinkError">{{ contentLinkError }}</p>
                    </div>
                    <div class="input-group">
                        <label for="content-description">Descrição</label>
                        <input type="text" id="content-description" v-model="contentDescription" autocomplete="off"
                            :class="{ 'error-input': contentDescriptionError }"
                            placeholder="Descrição do site/material">
                        <p class="error-text" v-if="contentDescriptionError">{{ contentDescriptionError }}</p>
                    </div>
                    <button class="btn-primary" title="Adicionar contéudo">Adicionar</button>
                </div>
            </form>
        </div>
    </template>
    <template id="s_edit_topic">
        <form @submit.prevent="editTopic" class="form">
            <div class="header-top form_header">
                <h2 class="title">Editar Tópico</h2>
                <a class="btn-outline-primary" href="javascript:history.back()" title="Voltar para a página anterior"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="form_body">
                <div class="input-group">
                    <label for="topic-title">Título</label>
                    <input type="text" id="topic-title" v-model="topicTitle" autocomplete="off"
                        :class="{ 'error-input': titleError }" placeholder="Estudos, materiais...">
                    <p class="error-text" v-if="titleError">{{ titleError }}</p>
                </div>
                <button class="btn-primary" title="Editar tópico">Editar</button>
            </div>
        </form>
    </template>
    <template id="s_not_found">
        <section>
            <div class="padding-container centered-container">
                <img src="./assets/img/not_found_lg.gif"
                    alt="Imagem de um robô e um computador com o número 404 na tela" width="900" height="454"
                    class="lg">
                <img src="./assets/img/not_found_sm.gif"
                    alt="Imagem de um robô e um computador com o número 404 na tela" width="568" height="454"
                    class="sm">
                <router-link class="link" to="/">Voltar para o início</router-link>
            </div>
        </section>
    </template>

    <script src="assets/js/font-awesome.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-app-compat.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-auth-compat.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-firestore-compat.js"
        type="text/javascript"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics-compat.js"
        type="text/javascript"></script>
    <script src="assets/js/script.js" type="module"></script>
</body>

</html>