* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

::-moz-selection {
  background-color: #646bd4;
  color: #fff;
}

::selection {
  background-color: #646bd4;
  color: #fff;
}

button,
input,
form button {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

.btn-sm, main section .topic .contents .content .content-actions button, .header-top .btn-primary,
.header-top .btn-outline-primary,
.header-top .btn-danger {
  text-decoration: none;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: 3rem;
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: #646bd4;
  color: #fff;
}
.btn-primary:hover {
  background-color: #3c45c9;
}

.btn-outline-primary {
  background-color: transparent;
  color: #646bd4;
  border: 1px solid #646bd4;
}
.btn-outline-primary:hover {
  background-color: #646bd4;
  color: #fff;
}

.btn-back {
  transition: transform 0.3s ease;
}
.btn-back:hover {
  transform: translateX(-0.3rem);
}

.btn-danger {
  background-color: #FF5A5F;
  color: #fff;
}
.btn-danger:hover {
  background-color: #ff272e;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: #fff;
}
.btn-close:hover {
  color: #e6e6e6;
}

.toast {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  background-color: #646bd4;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.toast .toast-text {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
}
.toast.success-toast {
  background-color: #00A699;
}
.toast.error-toast {
  background-color: #FF5A5F;
}

.loader-container {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #fff;
  z-index: 1000;
}
.loader-container .loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #646bd4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.8rem;
}
.header-top .title {
  margin-bottom: 0;
  padding-left: 0;
}
.header-top-buttons {
  display: flex;
  gap: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
form .input-group {
  display: grid;
  width: 100%;
  gap: 0.3rem;
}
form input, form button {
  padding: 0.6rem 1.2rem;
  border: 1px solid #dcddf5;
  border-radius: 0.3rem;
  width: 100%;
}
form button {
  margin-top: 0.6rem;
}
form .box-text {
  border: 1px solid #dcddf5;
  border-radius: 0.3rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  text-align: center;
}
form .box-text.success-text {
  background-color: #d9fffc;
}
form .box-text.error-text {
  background-color: #fff3f3;
}
form .error-text {
  color: #FF5A5F;
}
form .success-text {
  color: #00A699;
}
form .error-input {
  border-color: #FF5A5F;
  outline-color: #FF5A5F;
}

.title {
  color: #23287c;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.text-content {
  display: grid;
  gap: 1.3rem;
}

.text {
  color: #555;
}

.text-emphasis {
  color: #646bd4;
}

.link {
  color: #646bd4;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: #23287c;
}

hr {
  margin: 1.6rem 0;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

aside {
  position: relative;
}
aside .fixed {
  border-right: 1px solid #dcddf5;
  position: fixed;
  max-width: 25%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
@media (max-width: 768px) {
  aside .fixed {
    position: relative;
    max-width: unset;
    border-right: unset;
    border-bottom: 1px solid #dcddf5;
    height: auto;
  }
}
@media (max-width: 768px) {
  aside .fixed .title {
    display: none;
  }
}
aside .fixed .header-top {
  padding: 0.9rem 3rem;
  border-bottom: 1px solid #dcddf5;
}
@media (max-width: 768px) {
  aside .fixed .header-top {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
    padding: 1rem;
  }
  aside .fixed .header-top .header-top-buttons {
    margin-left: auto;
  }
}
aside .fixed nav {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  aside .fixed nav {
    margin: 1.5rem 0;
  }
}
aside .fixed nav .link,
aside .fixed nav .router-link-active {
  text-decoration: none;
  padding: 1rem 1rem 1rem 3rem;
  overflow: hidden;
  position: relative;
  font-weight: 400;
}
@media (max-width: 768px) {
  aside .fixed nav .link,
  aside .fixed nav .router-link-active {
    padding-left: 1.5rem;
  }
}
aside .fixed nav .link:hover:not(.router-link-exact-active),
aside .fixed nav .router-link-active:hover:not(.router-link-exact-active) {
  text-decoration: none;
}
aside .fixed nav .link:hover:not(.router-link-exact-active):before,
aside .fixed nav .router-link-active:hover:not(.router-link-exact-active):before {
  opacity: 0.3;
}
aside .fixed nav .link::before,
aside .fixed nav .router-link-active::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: #646bd4;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  opacity: 0;
  transform: translateX(-3rem);
  transition: all 0.3s ease;
}
aside .fixed nav .link.router-link-exact-active,
aside .fixed nav .router-link-active.router-link-exact-active {
  color: #fff;
  pointer-events: none;
}
aside .fixed nav .link.router-link-exact-active::before,
aside .fixed nav .router-link-active.router-link-exact-active::before {
  transform: translateX(0);
  opacity: 1;
}

main {
  position: relative;
  padding: 3rem;
  margin-left: 25%;
  min-height: 100vh;
}
@media (max-width: 768px) {
  main {
    padding: 1rem;
    min-height: unset;
    margin-left: 0;
  }
}
main.with-shadow {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
main section .home-image {
  max-width: 100%;
  margin-bottom: 1.8rem;
}
main section .home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -o-object-position: center;
     object-position: center;
}
main section .home-image figcaption {
  font-size: 1.4rem;
  color: #555;
}
main section .tecnologies-title {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  color: #23287c;
  font-weight: 600;
}
main section .tecnologies {
  display: flex;
  gap: 0.5rem;
}
main section .tecnologies .tecnology img {
  background-color: #f2f2f2;
  border: 1px solid #dcddf5;
  border-radius: 0.3rem;
}
main section .tecnologies .tecnology figcaption {
  text-align: center;
  font-size: 1.4rem;
  color: #555;
}
main section .topic .contents {
  display: grid;
  gap: 0.6rem;
  padding-bottom: 5rem;
}
main section .topic .contents .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
@media (max-width: 768px) {
  main section .topic .contents .content {
    padding: 0.6rem;
    border: 1px solid #dcddf5;
    border-radius: 3px;
  }
}
main section .topic .contents .content.content-hover {
  border: none;
}
main section .topic .contents .content.content-hover:hover {
  background-color: #e6e6e6;
}
main section .topic .contents .content .content-actions {
  display: flex;
  gap: 0.6rem;
}
main section .topic .contents .content .content-actions button {
  height: 2.5rem;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */